.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  /*El conmtenido es recortao y no se muiestran barras de posición*/
  overflow: hidden;
  background-color: #333
}

.navbar li {
  /*el eleento debe flotar a la izquierda */
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}